{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pub list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pub in pubs %}
            <tr>
                <td><a href="{{ path('pub_show', { 'id': pub.id }) }}">{{ pub.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pub_show', { 'id': pub.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pub_edit', { 'id': pub.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pub_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
