{%extends 'AdBoxBundle::layout.html.twig' %}
{% block monblock %}

  <link rel="apple-touch-icon" href="{{asset('assets/images/apple-touch-icon.png')}}">
  <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{asset('global/css/bootstrap.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/css/bootstrap-extend.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('assets/css/site.min3f0d.css?v2.2.0')}}">

  <!-- Skin tools (demo site only) -->
  <link rel="stylesheet" href="{{asset('global/css/skintools.min3f0d.css?v2.2.0')}}">
  <script src="{{asset('assets/js/sections/skintools.min.js')}}"></script>

  <!-- Plugins -->
  <link rel="stylesheet" href="{{asset('global/vendor/animsition/animsition.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/asscrollable/asScrollable.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/switchery/switchery.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/intro-js/introjs.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/slidepanel/slidePanel.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/flag-icon-css/flag-icon.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/waves/waves.min3f0d.css?v2.2.0')}}">

  <!-- Plugins For This Page -->
  <link rel="stylesheet" href="{{asset('global/vendor/fullcalendar/fullcalendar.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/bootstrap-touchspin/bootstrap-touchspin.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/vendor/jquery-selective/jquery-selective.min3f0d.css?v2.2.0')}}">

  <!-- Page -->
  <link rel="stylesheet" href="{{asset('assets/examples/css/apps/calendar.min3f0d.css?v2.2.0')}}">

  <!-- Fonts -->
  <link rel="stylesheet" href="{{asset('global/fonts/material-design/material-design.min3f0d.css?v2.2.0')}}">
  <link rel="stylesheet" href="{{asset('global/fonts/brand-icons/brand-icons.min3f0d.css?v2.2.0')}}">

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700'>


  <!--[if lt IE 9]>
    <script src="../../../global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="../../../global/vendor/media-match/media.match.min.js"></script>
    <script src="../../../global/vendor/respond/respond.min.js"></script>
    <![endif]-->

  <!-- Scripts -->
  <script src="{{asset('global/vendor/modernizr/modernizr.min.js')}}"></script>
  <script src="{{asset('global/vendor/breakpoints/breakpoints.min.js')}}"></script>
  <script>
    Breakpoints();
  </script>
    <div class="page animsition">
         <div class="page-content container-fluid">
    <div class="page-aside">
      <div class="page-aside-switch">
        <i class="icon md-chevron-left" aria-hidden="true"></i>
        <i class="icon md-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="page-aside-inner" data-plugin="pageAsideScroll">
        <div data-role="container">
          <div data-role="content">
            <section class="page-aside-section">
              <h5 class="page-aside-title">CALENDAR LIST</h5>
              <div class="list-group has-actions">
                <div class="list-group-item">
                  <div class="list-content">
                    <span class="item-right">10</span>
                    <!-- <i class="md-circle red-600 margin-right-10" aria-hidden="true"></i> -->
                    <span class="list-text">Admin Calendar</span>
                    <div class="item-actions">
                      <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon md-edit" aria-hidden="true"></i></span>
                      <span class="btn btn-pure btn-icon" data-tag="list-delete"><i class="icon md-delete" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="list-editable">
                    <div class="form-group form-material">
                      <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                      value="Admin Calendar">
                      <button type="button" class="input-editable-close icon md-close" data-toggle="list-editable-close"
                      aria-label="Close" aria-expanded="true"></button>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-content">
                    <span class="item-right">5</span>
                    <!-- <i class="md-circle green-600 margin-right-10" aria-hidden="true"></i> -->
                    <span class="list-text">Home Calendar</span>
                    <div class="item-actions">
                      <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon md-edit" aria-hidden="true"></i></span>
                      <span class="btn btn-pure btn-icon" data-tag="list-delete"><i class="icon md-delete" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="list-editable">
                    <div class="form-group form-material">
                      <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                      value="Home Calendar">
                      <button type="button" class="input-editable-close icon md-close" data-toggle="list-editable-close"
                      aria-label="Close" aria-expanded="true"></button>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-content">
                    <span class="item-right">16</span>
                    <!-- <i class="md-circle purple-600 margin-right-10" aria-hidden="true"></i> -->
                    <span class="list-text">Work Calendar</span>
                    <div class="item-actions">
                      <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon md-edit" aria-hidden="true"></i></span>
                      <span class="btn btn-pure btn-icon" data-tag="list-delete"><i class="icon md-delete" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="list-editable">
                    <div class="form-group form-material">
                      <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                      value="Work Calendar">
                      <button type="button" class="input-editable-close icon md-close" data-toggle="list-editable-close"
                      aria-label="Close" aria-expanded="true"></button>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <div class="list-content">
                    <span class="item-right">30</span>
                    <!-- <i class="md-circle orange-600 margin-right-10" aria-hidden="true"></i> -->
                    <span class="list-text">Calendar One</span>
                    <div class="item-actions">
                      <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon md-edit" aria-hidden="true"></i></span>
                      <span class="btn btn-pure btn-icon" data-tag="list-delete"><i class="icon md-delete" aria-hidden="true"></i></span>
                    </div>
                  </div>
                  <div class="list-editable">
                    <div class="form-group form-material">
                      <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                      value="Calendar One">
                      <button type="button" class="input-editable-close icon md-close" data-toggle="list-editable-close"
                      aria-label="Close" aria-expanded="true"></button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="page-aside-section">
              <h5 class="page-aside-title">EVENTS</h5>
              <div class="list-group calendar-list">
                <a class="list-group-item calendar-event" data-title="Meeting" data-stick=true
                data-color="red-600" href="javascript:void(0)">
                  <i class="md-circle red-600 margin-right-10" aria-hidden="true"></i>Meeting
                </a>
                <a class="list-group-item calendar-event" data-title="Birthday Party" data-stick=true
                data-color="green-600" href="javascript:void(0)">
                  <i class="md-circle green-600 margin-right-10" aria-hidden="true"></i>Birthday
                  Party
                </a>
                <a class="list-group-item calendar-event" data-title="Call Jimba" data-stick=true
                data-color="orange-600" href="javascript:void(0)">
                  <i class="md-circle orange-600 margin-right-10" aria-hidden="true"></i>Call
                  Jimba
                </a>
                <a class="list-group-item calendar-event" data-title="Dinner with Team" data-stick=true
                data-color="cyan-600" href="javascript:void(0)">
                  <i class="md-circle cyan-600 margin-right-10" aria-hidden="true"></i>Dinner
                  with Team
                </a>
                <a id="addNewEventBtn" class="list-group-item" href="javascript:void(0)"> <i class="icon md-plus" aria-hidden="true"></i> Add New Event </a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="page-main">
      <div class="calendar-container">
        <div id="calendar"></div>

        <!--AddEvent Dialog -->
        <div class="modal fade" id="addNewEvent" aria-hidden="true" aria-labelledby="addNewEvent"
        role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <form class="modal-content form-horizontal" action="#" method="post" role="form">
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">New Event</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="newEname">Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="newEname" name="newEname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="starts">Starts:</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="starts" data-container="#addNewEvent"
                      data-plugin="datepicker">
                      <span class="input-group-addon">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="ends">Ends:</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="ends" data-container="#addNewEvent"
                      data-plugin="datepicker">
                      <span class="input-group-addon">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="repeats">Repeats:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="repeats" name="repeats" data-plugin="TouchSpin"
                    data-min="0" data-max="10" value="0" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Color:</label>
                  <div class="col-sm-10">
                    <ul class="color-selector">
                      <li class="bg-blue-600">
                        <input type="radio" checked name="eventColorChosen" id="eventColorChosen2">
                        <label for="eventColorChosen2"></label>
                      </li>
                      <li class="bg-green-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen3">
                        <label for="eventColorChosen3"></label>
                      </li>
                      <li class="bg-cyan-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen4">
                        <label for="eventColorChosen4"></label>
                      </li>
                      <li class="bg-orange-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen5">
                        <label for="eventColorChosen5"></label>
                      </li>
                      <li class="bg-red-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen6">
                        <label for="eventColorChosen6"></label>
                      </li>
                      <li class="bg-blue-grey-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen7">
                        <label for="eventColorChosen7"></label>
                      </li>
                      <li class="bg-purple-600">
                        <input type="radio" name="eventColorChosen" id="eventColorChosen8">
                        <label for="eventColorChosen8"></label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="people">People:</label>
                  <div class="col-sm-10">
                    <select id="eventPeople" multiple="multiple" data-plugin="jquery-selective"></select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-actions">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Add this event</button>
                  <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End AddEvent Dialog -->

        <!-- Edit Dialog -->
        <div class="modal fade" id="editNewEvent" aria-hidden="true" aria-labelledby="editNewEvent"
        role="dialog" tabindex="-1" data-show="false">
          <div class="modal-dialog">
            <form class="modal-content form-horizontal" action="#" method="post" role="form">
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">Edit Event</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="editEname">Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="editEname" name="editEname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="editStarts">Starts:</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="editStarts" name="editStarts" data-container="#editNewEvent"
                      data-plugin="datepicker">
                      <span class="input-group-addon">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="editEnds">Ends:</label>
                  <div class="col-sm-10">
                    <div class="input-group">
                      <input type="text" class="form-control" id="editEnds" data-container="#editNewEvent"
                      data-plugin="datepicker">
                      <span class="input-group-addon">
                        <i class="icon md-calendar" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="editRepeats">Repeats:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="editRepeats" name="repeats" data-plugin="TouchSpin"
                    data-min="0" data-max="10" value="0" />
                  </div>
                </div>
                <div class="form-group" id="editColor">
                  <label class="control-label col-sm-2">Color:</label>
                  <div class="col-sm-10">
                    <ul class="color-selector">
                      <li class="bg-blue-600">
                        <input type="radio" data-color="blue|600" name="colorChosen" id="editColorChosen2">
                        <label for="editColorChosen2"></label>
                      </li>
                      <li class="bg-green-600">
                        <input type="radio" data-color="green|600" name="colorChosen" id="editColorChosen3">
                        <label for="editColorChosen3"></label>
                      </li>
                      <li class="bg-cyan-600">
                        <input type="radio" data-color="cyan|600" name="colorChosen" id="editColorChosen4">
                        <label for="editColorChosen4"></label>
                      </li>
                      <li class="bg-orange-600">
                        <input type="radio" data-color="orange|600" name="colorChosen" id="editColorChosen5">
                        <label for="editColorChosen4"></label>
                      </li>
                      <li class="bg-red-600">
                        <input type="radio" data-color="red|600" name="colorChosen" id="editColorChosen6">
                        <label for="editColorChosen6"></label>
                      </li>
                      <li class="bg-blue-grey-600">
                        <input type="radio" data-color="blue-grey|600" name="colorChosen" id="editColorChosen7">
                        <label for="editColorChosen7"></label>
                      </li>
                      <li class="bg-purple-600">
                        <input type="radio" data-color="purple|600" name="colorChosen" id="editColorChosen8">
                        <label for="editColorChosen8"></label>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="editPeople">People:</label>
                  <div class="col-sm-10">
                    <select id="editPeople" multiple="multiple" data-plugin="jquery-selective"></select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-actions">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Save</button>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">Delete</button>
                  <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End EditEvent Dialog -->

        <!--AddCalendar Dialog -->
        <div class="modal fade" id="addNewCalendar" aria-hidden="true" aria-labelledby="addNewCalendar"
        role="dialog" tabindex="-1">
          <div class="modal-dialog">
            <form class="modal-content form-horizontal" action="#" method="post" role="form">
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
                <h4 class="modal-title">New Calendar</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="ename">Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="ename" name="ename">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-sm-2">Color:</label>
                  <div class="col-sm-10">
                    <ul class="color-selector">
                      <li class="bg-blue-600">
                        <input type="radio" checked name="colorChosen" id="colorChosen2">
                        <label for="colorChosen2"></label>
                      </li>
                      <li class="bg-green-600">
                        <input type="radio" name="colorChosen" id="colorChosen3">
                        <label for="colorChosen3"></label>
                      </li>
                      <li class="bg-cyan-600">
                        <input type="radio" name="colorChosen" id="colorChosen4">
                        <label for="colorChosen4"></label>
                      </li>
                      <li class="bg-orange-600">
                        <input type="radio" name="colorChosen" id="colorChosen5">
                        <label for="colorChosen5"></label>
                      </li>
                      <li class="bg-red-600">
                        <input type="radio" name="colorChosen" id="colorChosen6">
                        <label for="colorChosen6"></label>
                      </li>
                      <li class="bg-blue-grey-600">
                        <input type="radio" name="colorChosen" id="colorChosen7">
                        <label for="colorChosen7"></label>
                      </li>
                      <li class="bg-purple-600">
                        <input type="radio" name="colorChosen" id="colorChosen8">
                        <label for="colorChosen8"></label>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="people">People:</label>
                  <div class="col-sm-10">
                    <select id="people" multiple="multiple" data-plugin="jquery-selective"></select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-actions">
                  <button class="btn btn-primary" data-dismiss="modal" type="button">Create</button>
                  <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- End AddCalendar Dialog -->
      </div>
    </div>
  </div>

  <!-- Site Action -->
  <div class="site-action">
    <button type="button" class="site-action-toggle btn-raised btn btn-success btn-floating">
      <i class="front-icon md-plus animation-scale-up" aria-hidden="true"></i>
      <i class="back-icon md-delete animation-scale-up" aria-hidden="true"></i>
    </button>
  </div>
  <!-- End Site Action -->

  <!-- Add Calendar Form -->
  <div class="modal fade" id="addNewCalendarForm" aria-hidden="true" aria-labelledby="addNewCalendarForm"
  role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <form class="modal-content" action="#" method="post" role="form">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
          <h4 class="modal-title">Create New Calendar</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label margin-bottom-15" for="name">Calendar name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Calendar name">
          </div>
          <div class="form-group">
            <label class="control-label margin-bottom-15" for="name">Choice people to your project:</label>
            <select multiple="multiple" data-plugin="jquery-selective"></select>
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-actions">
            <button class="btn btn-primary" data-dismiss="modal" type="button">Create</button>
            <a class="btn btn-sm btn-white btn-pure" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
    </div>
  <!-- End Add Calendar Form -->



  <!-- Core  -->
  <script src="{{asset('global/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('global/vendor/bootstrap/bootstrap.min.js')}}"></script>
  <script src="{{asset('global/vendor/animsition/animsition.min.js')}}"></script>
  <script src="{{asset('global/vendor/asscroll/jquery-asScroll.min.js')}}"></script>
  <script src="{{asset('global//vendor/mousewheel/jquery.mousewheel.min.js')}}"></script>
  <script src="{{asset('global/vendor/asscrollable/jquery.asScrollable.all.min.js')}}"></script>
  <script src="{{asset('global//vendor/ashoverscroll/jquery-asHoverScroll.min.js')}}"></script>
  <script src="{{asset('global/vendor/waves/waves.min.js')}}"></script>

  <!-- Plugins -->
  <script src="{{asset('global/vendor/switchery/switchery.min.js')}}"></script>
  <script src="{{asset('global/vendor/intro-js/intro.min.js')}}"></script>
  <script src="{{asset('global/vendor/screenfull/screenfull.min.js')}}"></script>
  <script src="{{asset('global/vendor/slidepanel/jquery-slidePanel.min.js')}}"></script>


  <!-- Plugins For This Page -->
  <script src="{{asset('global/vendor/jquery-ui/jquery-ui.min.js')}}"></script>
  <script src="{{asset('global/vendor/moment/moment.min.js')}}"></script>
  <script src="{{asset('global/vendor/fullcalendar/fullcalendar.min.js')}}"></script>
  <script src="{{asset('global/vendor/jquery-selective/jquery-selective.min.js')}}"></script>
  <script src="{{asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('global/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}"></script>
  <script src="{{asset('global/vendor/bootbox/bootbox.js')}}"></script>

  <!-- Scripts -->
  <script src="{{asset('global/js/core.min.js')}}"></script>
  <script src="{{asset('assets/js/site.min.js')}}"></script>

  <script src="{{asset('assets/js/sections/menu.min.js')}}"></script>
  <script src="{{asset('assets/js/sections/menubar.min.js')}}"></script>
  <script src="{{asset('assets/js/sections/sidebar.min.js')}}"></script>

  <script src="{{asset('global/js/configs/config-colors.min.js')}}"></script>
  <script src="{{asset('assets/js/configs/config-tour.min.js')}}"></script>

  <script src="{{asset('global/js/components/asscrollable.min.js')}}"></script>
  <script src="{{asset('global/js/components/animsition.min.js')}}"></script>
  <script src="{{asset('global/js/components/slidepanel.min.js')}}"></script>
  <script src="{{asset('global/js/components/switchery.min.js')}}"></script>
  <script src="{{asset('global/js/components/tabs.min.js')}}"></script>

  <script src="{{asset('global/js/components/bootstrap-touchspin.min.js')}}"></script>
  <script src="{{asset('global/js/components/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{asset('global/js/components/material.min.js')}}"></script>
  <script src="{{asset('global/js/plugins/action-btn.min.js')}}"></script>
  <script src="{{asset('global/js/components/bootbox.min.js')}}"></script>


  <script src="{{asset('assets/js/app.min.js')}}"></script>

  <script src="{{asset('assets/examples/js/apps/calendar.min.js')}}"></script>


  <!-- Google Analytics -->
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'http://www.google-analytics.com/analytics.js',
      'ga');

    ga('create', 'UA-65522665-1', 'auto');
    ga('send', 'pageview');
  </script>
  {% endblock %}