{% extends 'base.html.twig' %}

{% block body %}
    <h1>Action</h1>

    <table>
        <tbody>
            <tr>
                <th>Timestamp</th>
                <td>{% if action.timestamp %}{{ action.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Actiontype</th>
                <td>{{ action.actionType }}</td>
            </tr>
            <tr>
                <th>Idadmin</th>
                <td>{{ action.idAdmin }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ action.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('action_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('action_edit', { 'id': action.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
