{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shop</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ shop.name }}</td>
            </tr>
            <tr>
                <th>Ownerid</th>
                <td>{{ shop.ownerId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('shop_edit', { 'id': shop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
