{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin</h1>

    <table>
        <tbody>
            <tr>
                <th>Groupe</th>
                <td>{{ admin.groupe }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ admin.cin }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ admin.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': admin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
