{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notification list</h1>

    <table>
        <thead>
            <tr>
                <th>Iduser</th>
                <th>Usertype</th>
                <th>Message</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td><a href="{{ path('notification_show', { 'id': notification.id }) }}">{{ notification.idUser }}</a></td>
                <td>{{ notification.userType }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.type }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notification_show', { 'id': notification.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('notification_edit', { 'id': notification.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notification_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
