{% extends 'base.html.twig' %}

{% block body %}
    <h1>ShopOwner list</h1>

    <table>
        <thead>
            <tr>
                <th>Categorie</th>
                <th>Solde</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shopOwner in shopOwners %}
            <tr>
                <td><a href="{{ path('shopowner_show', { 'id': shopOwner.id }) }}">{{ shopOwner.categorie }}</a></td>
                <td>{{ shopOwner.solde }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('shopowner_show', { 'id': shopOwner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('shopowner_edit', { 'id': shopOwner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('shopowner_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
