{% extends 'base.html.twig' %}

{% block body %}
    <h1>BidClient list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bidClient in bidClients %}
            <tr>
                <td><a href="{{ path('bidclient_show', { 'id': bidClient.id }) }}">{{ bidClient.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bidclient_show', { 'id': bidClient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bidclient_edit', { 'id': bidClient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bidclient_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
