{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresse list</h1>

    <table>
        <thead>
            <tr>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Codepostal</th>
                <th>Rue</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td><a href="{{ path('adresse_show', { 'id': adresse.id }) }}">{{ adresse.latitude }}</a></td>
                <td>{{ adresse.longitude }}</td>
                <td>{{ adresse.pays }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.region }}</td>
                <td>{{ adresse.codepostal }}</td>
                <td>{{ adresse.rue }}</td>
                <td>{{ adresse.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adresse_show', { 'id': adresse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adresse_edit', { 'id': adresse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adresse_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
