{%extends 'AdBoxBundle::layout.html.twig' %}
{% block extraLinks %}
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset('global/vendor/jquery-timer/css/demo.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('global/vendor/asspinner/asSpinner.min3f0d.css')}}">
    <link rel="stylesheet" href="{{asset('global/vendor/bootstrap-touchspin/bootstrap-touchspin.min3f0d.css?v2.2.0')}}">
    <link rel="stylesheet" href="{{asset('global/fonts/web-icons/web-icons.min3f0d.css?v2.2.0')}}">
    <link rel="stylesheet" href="{{asset('global/vendor/alertify-js/alertify.min3f0d.css?v2.2.0')}}">

{% endblock %}
{% block monblock %}
    <!-- Todo : Add toast on calender update :  toast ,alertify
            List bid template basic table
-->

    <!-- Panel Blocks -->
    <div class="page animsition">
        <div class="page-content container-fluid">

            <div class="panel" style="background-color:#3f51b5">

                <div class="panel-body container">
                    <div class="row">
                        <div class="countdown countdown-container ">
                            <div class="clock row">
                                <div class="clock-item clock-days countdown-time-value col-sm-6 col-md-3">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-days" class="clock-canvas"></div>

                                            <div class="text">
                                                <p class="val">0</p>
                                                <p class="type-days type-time">DAYS</p>
                                            </div>
                                            <!-- /.text -->
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                    <!-- /.wrap -->
                                </div>
                                <!-- /.clock-item -->

                                <div class="clock-item clock-hours countdown-time-value col-sm-6 col-md-3">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-hours" class="clock-canvas"></div>

                                            <div class="text">
                                                <p class="val">0</p>
                                                <p class="type-hours type-time">HOURS</p>
                                            </div>
                                            <!-- /.text -->
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                    <!-- /.wrap -->
                                </div>
                                <!-- /.clock-item -->

                                <div class="clock-item clock-minutes countdown-time-value col-sm-6 col-md-3">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-minutes" class="clock-canvas"></div>

                                            <div class="text">
                                                <p class="val">0</p>
                                                <p class="type-minutes type-time">MINUTES</p>
                                            </div>
                                            <!-- /.text -->
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                    <!-- /.wrap -->
                                </div>
                                <!-- /.clock-item -->

                                <div class="clock-item clock-seconds countdown-time-value col-sm-6 col-md-3">
                                    <div class="wrap">
                                        <div class="inner">
                                            <div id="canvas-seconds" class="clock-canvas"></div>

                                            <div class="text">
                                                <p class="val">0</p>
                                                <p class="type-seconds type-time">SECONDS</p>
                                            </div>
                                            <!-- /.text -->
                                        </div>
                                        <!-- /.inner -->
                                    </div>
                                    <!-- /.wrap -->
                                </div>
                                <!-- /.clock-item -->
                            </div>
                            <!-- /.clock -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel" style="padding-top:5%;padding-bottom:5%">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="pricing-list">
                                <div class="pricing-header">
                                    <div class="pricing-title bg-blue-600">Current Price</div>
                                    <div class="pricing-price">
                                        <span class="pricing-currency blue-600">$</span>
                                        <span class="pricing-amount blue-600">{{ bidInfo.prix}}</span>
                                        <span class="pricing-period">/ DT</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group input-group-lg">
                                <input id="bid_amount" type="text" class="form-control input-lg" name="touchSpinPrefix" data-plugin="TouchSpin" data-min="0" data-max="1000000000" data-stepinterval="50" data-maxboostedstep="10000000" data-prefix="$" value="0"/>
                            </div>
                            <br>
                            <button type="button" id="submitBid" class="btn btn-primary btn-block btn-round">
                                Submit</button>

                        </div>
                    </div>

                    <button type="button" data-toggle="collapse" data-target="#demo" class="btn btn-default  btn-block">
                        <i class="icon wb-menu pull-right" aria-hidden="true"></i>Recent bids</button>

                    <div id="demo" class="collapse">
                        <div class="row">
                            <div >
                                <!-- Example Hover Table -->
                                <div class="example-wrap">

                                    <div class="example table-responsive">
                                        <table class="table table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Client</th>
                                                    <th>Date</th>
                                                    <th>Price</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableContent">
                                                {% for item in bidList %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>{{ item.getIdClient().getUsername() }}</td>
                                                        <td class="text-warning time-from-now">

                                                            {% if (item.getTimestamp() | date("Y-m-d") == ("now" | date("Y-m-d"))) %}
                                                                {{item.getTimestamp()|date("H:i:s")}}</h5>
                                                        {% else %}
                                                            {{item.getTimestamp()|date("Y-m-d H:i:s")}}
                                                        {% endif %}

                                                    </td>
                                                    <td>
                                                        <span class="text-danger text-semibold">{{ item.getPrice() }}
                                                            DT</span>
                                                    </td>
                                                </tr>

                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Hover Table -->
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="{{asset('global/vendor/jquery/jquery.min.js')}}"></script>
<script src="{{asset('global/vendor/jquery-timer/js/kinetic.js')}}"></script>
<script src="{{asset('global/vendor/jquery-timer/jquery.final-countdown.js')}}"></script>
<script src="{{asset('global/vendor/moment/moment.min.js')}}"></script>
<script src="{{asset('global/vendor/asspinner/jquery-asSpinner.min.js')}}"></script>
<script src="{{asset('global/vendor/socket.io-client/socket.io.js')}}"></script>
<script src="{{asset('global/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js')}}"></script>
<script src="{{asset('global/js/components/bootstrap-touchspin.min.js')}}"></script>
<script src="{{asset('global/vendor/alertify-js/alertify.js')}}"></script>
<script src="{{asset('global/js/components/alertify-js.min.js')}}"></script>

<script>
    $("input[name='touchSpinPrefix']").TouchSpin({min: {{ bidInfo.prix }}, max: 1000000000, stepinterval: 50, maxboostedstep: 10000000, prefix: '$'});
</script>
<script>
    var id_timelaps = {{ id }};
    $('document').ready(function() {
        var end = Math.round(new Date(moment("{{ bidInfo.dateEnd.date}}").format("YYYY-MM-DD") + " " + moment("{{ bidInfo.endTime.date}}").format("HH:mm:ss")) / 1000);
        var timestamp = Math.round(new Date() / 1000);
        $('.countdown').final_countdown({'start': timestamp, 'end': end, 'now': timestamp});
    });

    var socket = io('http://' + document.domain + ':2021');
    socket.on("connect", function() {
        socket.emit("register", '{"bid":' + id_timelaps + ',"client":1}');
    });
    socket.on("update", function(data) {
        var obj = JSON.parse(data);
        alertify.closeLogOnClick(true).log("New update - " + obj.name + " : " + obj.price);
        $(".pricing-amount").html(obj.price);
        $("#bid_amount").val(obj.price);
        $("input[name='touchSpinPrefix']").TouchSpin({min: obj.price});
        $("#tableContent").append("<tr><td>"+$(".table").length+"</td>"+
                                  "<td>"+obj.name+"</td>"+
                                  "<td class='text-warning time-from-now'>"+moment(obj.timestamp).format("HH:mm:ss")+"</td>"+
                                  "<td>"+"<span class='text-danger text-semibold'>"+obj.price+"DT</span>"+"</td></tr>"
                                );
    });
    $("#submitBid").click(function() {
        $.ajax({
            method: "POST",
            url: "{{path("new_bid_client")}}",
            data: {
                id: id_timelaps,
                client: {{user.id}},
                price: $("#bid_amount").val(),
                timestamp: moment().format("YYYY-MM-DD HH:mm:ss")
            }
        }).done(function(data) {
            if (socket.connected)
            var time=moment().format("YYYY-MM-DD HH:mm:ss");
                socket.emit("bidding", '{"bid":' + id_timelaps + ',"client":{{user.id}},"name":"{{user.name}}","price":' + $("#bid_amount").val() + ',"timestamp":"' + time + '"}');
                $("#tableContent").append("<tr><td>"+$(".table").length+"</td>"+
                                          "<td>"+"{{user.name}}"+"</td>"+
                                          "<td class='text-warning time-from-now'>"+moment(time).format("HH:mm:ss")+"</td>"+
                                          "<td>"+"<span class='text-danger text-semibold'>"+$("#bid_amount").val()+"DT</span>"+"</td></tr>"
                                        );
                $("input[name='touchSpinPrefix']").TouchSpin({min: $("#bid_amount").val()});
                $(".pricing-amount").html($("#bid_amount").val());

            }
        ).fail(function(data) {
            alert("fail");
        });
    });
</script>
{% endblock %}
