{# empty Twig template #}

{%extends 'AdBoxBundle::layout.html.twig' %}
{%block extraLinks %}
    <!-- Plugins For This Page -->    <script src="{{asset('global/vendor/aspaginator/jquery.asPaginator.min.js')}}"></script>
        <script src="{{asset('global/vendor/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>
    <link rel="stylesheet" href="{{asset('assets/css/user.min3f0d.css?v2.2.0')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('global/vendor/bootstrap-sweetalert/sweet-alert.min3f0d.css')}}">
    <link rel="stylesheet" href="{{asset('global/fonts/web-icons/web-icons.min3f0d.css?v2.2.0')}}">
    <link rel="stylesheet" href="{{asset('assets/examples/css/uikit/buttons.min3f0d.css?v2.2.0')}}">
    <link href="{{asset('global/vendor/select2/select2.min.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.min3f0d.css?v2.2.0')}}">
    <link rel="stylesheet" href="{{asset('global/vendor/fullcalendar/fullcalendar.min3f0d.css?v2.2.0')}}">
    <link href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{asset('global/vendor/bootstrap-sweetalert/sweet-alert.min3f0d.css')}}">

{%endblock %}
{%block monblock %}

    <div class="page-user">
        <!-- Page -->
        <div class="page animsition">
            <div class="page-aside" style="position:fixed;padding-top:5%;">
                <div class="page-aside-switch">
                    <i class="icon wb-chevron-left" aria-hidden="true"></i>
                    <i class="icon wb-chevron-right" aria-hidden="true"></i>
                </div>
                <div class="page-aside-inner" data-plugin="pageAsideScroll">
                    <div data-role="container">
                        <div data-role="content">

                            <section class="page-aside-section">
                                <h5 class="page-aside-title">Search filters</h5>
                                <div class="list-group">
                                    <div class="list-group-item" style="padding-top:10%" href="javascript:void(0)">
                                        <i class="icon wb-settings" aria-hidden="true"></i>
                                        <span class="list-group-item-content">Country</span>
                                    </div>
                                    <div style="padding-left:10%;padding-right:10%">
                                        <select style="width:100%" id="select_country" data-placeholder="Select a country"></select>
                                    </div>
                                    <div class="list-group-item" style="padding-top:10%" href="javascript:void(0)">
                                        <i class="icon wb-settings" aria-hidden="true"></i>
                                        <span class="list-group-item-content">City</span>
                                    </div>

                                    <div style="padding-left:10%;padding-right:10%">
                                        <select style="width:100%" id="select_city" data-placeholder="Select a city"></select>
                                    </div>

                                    <div class="list-group-item" style="padding-top:10%" href="javascript:void(0)">
                                        <i class="icon wb-extension" aria-hidden="true"></i>
                                        <span class="list-group-item-content">Region</span>
                                    </div>
                                    <div style="padding-left:10%;padding-right:10%">
                                        <select style="width:100%" id="select_region" data-placeholder="Select an region"></select>
                                    </div>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- page main -->
            <div class="page-main">
                <div class="page-content">
                    <!-- Panel -->
                    <div class="panel">
                        <small style="padding-left:1%">
                            * select a marker to update the calendar (if available)
                          </small>
                        <div id="map" style="width:100%;height:500px;"></div>
                    </div>
                    <div class="panel">
                      <div style="padding:20px;">
                      <div class="fc-event-dot" style="background-color:#f1c40f" >
                        <small style="margin-left:15px" >
                          Reservation
                        </small>
                          </div>
                          <br/>
                          <div class="fc-event-dot" style="background-color:#2980b9">
                        <small style="margin-left:15px"  >
                          Bid
                        </small>
                      </div>
                    </div>
                        <div id="timelaps_event_panel" class="page-main" style="width:100%;padding:5%">
                            <div class="calendar-container">
                                <div id="calendar"></div>
                                <div id="calendarTimelaps"></div>
                            </div>
                        </div>

                    </div>
                    <!-- End Panel -->
                    <div class="site-action">
                        <button id="LoadCalendarBt" type="button" class="site-action-toggle btn-raised btn btn-dark btn-floating wb-calendar"></button>
                    </div>
                </div>
            </div>
            <!-- page main end-->
            <!--
    <div class="site-action">
        <button id="addAdBt" type="button" class="site-action-toggle btn-raised btn btn-dark btn-floating wb-plus"></button>
    </div>-->
            <!-- End Page -->
        </div>
    </div>
    <script src="{{asset('global/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('global/vendor/moment/moment.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9xGQ4SVN2QqBldQfqJhVKxltFgcnYJOk&callback=initialize" async defer></script>
    <script src="{{asset('global/vendor/select2/select2.min.js')}}"></script>
    <script src="{{asset('global/js/components/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('global/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{asset('global/vendor/fullcalendar/fullcalendar.min.js')}}"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="{{asset('global/vendor/aspaginator/jquery.asPaginator.min.js')}}"></script>
    <script src="{{asset('global/vendor/bootstrap-sweetalert/sweet-alert.min.js')}}"></script>
    <script>
        var map;
        var element = $(this);
        var Event_calendar;
        var shop_markers = [];
        var myCalendar = $("#calendar");
        var timelaps_calendar = $("#calendarTimelaps");

        function initialize() {
            var mapProp = {
                center: {
                    lat: 13.6307769,
                    lng: 11.162759
                },
                zoom: 3,
                //draggable: false, scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), mapProp);
        }
        function updateCalendar(shop) {
            $.ajax({
                method: "POST",
                url: "http://localhost{{path('getAvailableEventByShops')}}",
                data: {
                    shop: shop
                }
            }).done(function(data) {
                // TODO: Scroll to calendar
                my_events = [];
                var json_data = JSON.parse(data);
                for (var i = 0; i < json_data.length; i++) {
                    my_events.push({title: json_data[i]["event"]['name'],
                        start: moment(moment.unix(json_data[i]["event"]['starttime']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss"),
                        end: moment(moment.unix(json_data[i]["event"]['endtime']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss"),
                        description: json_data[i]["event"]['eventType'] + " at :" + json_data[i]["shop"],
                        allDay: false,
                        id_event: json_data[i]["event"]['id'],
                        shop: json_data[i]["shop"]
                    });
                }
                myCalendar.fullCalendar('removeEvents');
                myCalendar.fullCalendar('addEventSource',my_events);
                // Load calendar events

            }).fail(function() {
                alert("Cancelled");

            });
        }
        function initCalendar(){
          myCalendar.fullCalendar({
              timeFormat: 'H:mm',
              displayEventEnd: {
                  month: true,
                  basicWeek: true,
                  "default": true
              },
              eventClick: function(calEventMain, jsEvent, view) {
                  Event_calendar = calEventMain;
                  console.log(calEventMain);
                  $.ajax({
                      method: "POST",
                      url: "http://localhost{{path('get_timelaps')}}",
                      data: {
                          id: calEventMain.id_event
                      }
                  }).done(function(data) {
                      var data_array = JSON.parse(data);
                      var reservations = data_array["reservations"];
                      var bids = data_array["bids"];
                      var timelaps_all = [];
                      jQuery.each(reservations, function(i, val) {
                          var date = new Date(val['dateStart']['timestamp'] * 1000);
                          var start = moment(moment.unix(val['dateStart']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                          var end = moment(moment.unix(val['dateEnd']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                          timelaps_all.push({title: val['idPointpub']['name'] + " - " + calEventMain.title + " : " + val['prix'] + " DT",
                              start: start,
                              end: end,
                              allDay: false,
                              idTimelaps: val['id'],
                              id_event: calEventMain.id_event,
                              timelaps_price: val['prix'],
                              shop: val['idPointpub']['id'],
                              type: 'reservation',
                              color: '#2980b9'
                          });
                      });
                      jQuery.each(bids, function(i, val) {
                          var date = new Date(val['dateStart']['timestamp'] * 1000);
                          var start = moment(moment.unix(val['dateStart']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                          var end = moment(moment.unix(val['dateEnd']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                          timelaps_all.push({title: val['idPointpub']['name'] + " - " + calEventMain.title ,
                              start: start,
                              end: end,
                              allDay: false,
                              idTimelaps: val['id'],
                              id_event: calEventMain.id_event,
                              timelaps_price: val['prix'],
                              shop: val['idPointpub']['id'],
                              type: 'bid',
                              color: "#f1c40f"
                          });
                      });

                      myCalendar.hide();
                      timelaps_calendar.show();

                      $("#LoadCalendarBt").show();
                      $("#LoadCalendarBt").click(function() {
                          timelaps_calendar.hide();
                          myCalendar.show();
                          $("#LoadCalendarBt").hide();
                      });

                      timelaps_calendar.fullCalendar({
                          defaultDate: calEventMain.start.format("YYYY-MM-DD"),
                          events: timelaps_all,
                          timeFormat: 'H:mm',
                          defaultView: 'listDay',
                          displayEventTime: true,
                          displayEventEnd: true,
                          eventClick: function(calEvent, jsEvent, view) {
                            if (calEvent.type==="bid")
                            {
                              swal({
                                  title: "Confirmation ?",
                                  text: "You will redirected to reservation form",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonColor: "#DD6B55",
                                  confirmButtonText: "Yes, Continue !",
                                  closeOnConfirm: true
                              }, function() {
                                var id = calEvent.idTimelaps;
                                var url_invalid = "http://localhost{{path('client_ad_add', {'timelaps':'*NOTFOUND*'}) }} ";
                                var url = url_invalid.replace("*NOTFOUND*", id);
                                window.open(url);
                              });
                            }
                            else if(calEvent.type==="reservation")
                            {
                              swal({
                                  title: "Participate in bid ?",
                                  text: "You will redirected to the bid panel",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonColor: "#DD6B55",
                                  confirmButtonText: "Yes, Continue !",
                                  closeOnConfirm: true
                              }, function() {
                              });
                            }
                            /*
                    if (rgb2hex($(this).find(".fc-event-dot").css("background-color")) == "#ff9800") {
                        Event_timelaps.splice(Event_timelaps.indexOf(calEvent), 1);
                        //  Event_timelaps=null;
                        $(this).find(".fc-event-dot").css("background-color", "#3a87ad");

                    } else {
                        Event_timelaps.push(calEvent);
                        //Event_timelaps = calEvent; $(document).find(".fc-event-dot").css("background-color","#3a87ad");
                        $(this).find(".fc-event-dot").css("background-color", "#ff9800");

                    }*/
                          }
                      });
                      timelaps_calendar.fullCalendar('render');

                  }).fail(function() {
                      alert("fail");
                  });

              },
              eventRender: function(event, element) {
                  element.qtip({
                      content: '<b>' + event.title + ' - </b></b><b>' + event.start.format('hh:mma') + ' - </b><b>' + event.end.format('hh:mma') + ' - </b><br><u>' + event.description + '</u>'
                  });
              }
          });

        }


        $(document).ready(function() {
            var select_country = $("#select_country");
            var select_city = $("#select_city");
            var select_region = $("#select_region");
            //-------------------- init calendar
            initCalendar();
            // init select2
            $('select').select2({allowClear: true});
            //Loading Countries
            $.ajax({method: "POST", url: "http://localhost{{path('getAvailableCountries')}}"}).done(function(data) {
                var json_data = JSON.parse(data);
                var html_countries = "<option></option>";
                for (var i = 0; i < json_data.length; i++) {
                    html_countries += "<option>" + json_data[i]["pays"] + "</option>";
                }
                select_country.html(html_countries);
            }).fail(function() {
                swal("Cancelled", "An error has occured", "error");
            });
            //Loading Cities
            select_country.on('change', function(evt) {
                $.ajax({
                    method: "POST",
                    url: "http://localhost{{path('getAvailableCities')}}",
                    data: {
                        country: $(this).val()
                    }
                }).done(function(data) {

                    var json_data = JSON.parse(data);
                    var html_cities = "<option></option>";
                    for (var i = 0; i < json_data.length; i++) {
                        html_cities += "<option>" + json_data[i]["ville"] + "</option>";
                    }
                    select_city.html(html_cities);
                    select_region.html("");

                }).fail(function() {
                    swal("Cancelled", "An error has occured", "error");
                });
            });
            // Loading Regions
            select_city.on('change', function(evt) {
                $.ajax({
                    method: "POST",
                    url: "http://localhost{{path('getAvailableRegions')}}",
                    data: {
                        country: select_country.val(),
                        city: $(this).val()
                    }
                }).done(function(data) {
                    var json_data = JSON.parse(data);
                    var html_regions = "<option></option>";
                    for (var i = 0; i < json_data.length; i++) {
                        html_regions += "<option>" + json_data[i]["region"] + "</option>";
                    }
                    select_region.html(html_regions);
                }).fail(function() {
                    swal("Cancelled", "An error has occured", "error");
                });
            });

            $("select").on("change", function() {
                for (var i = 0; i < shop_markers.length; i++) {
                    shop_markers[i].setMap(null);
                }
                shop_markers = [];
                var country = (select_country.val() === null)
                    ? ""
                    : select_country.val();
                var city = (select_city.val() === null)
                    ? ""
                    : select_city.val();
                var region = (select_region.val() === null)
                    ? ""
                    : select_region.val();
                // TODO: Reload map shop markers and event double clikc
                $.ajax({
                    method: "POST",
                    url: "http://localhost/{{path('getAvailableShopsByAdresse')}}",
                    data: {
                        country: country,
                        city: city,
                        region: region
                    }
                }).done(function(data) {
                    var jsonContent = JSON.parse(data);
                    for (var i = 0; i < jsonContent.length; i++) {
                        var icon = {
                            url: jsonContent[i].logo,
                            size: new google.maps.Size(71, 71),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(17, 34),
                            scaledSize: new google.maps.Size(25, 25)
                        };
                        var mark = new google.maps.Marker({
                            map: map,
                            icon: icon,
                            title: jsonContent[i].name,
                            position: new google.maps.LatLng({lat: jsonContent[i].adress.latitude, lng: jsonContent[i].adress.longitude}),
                            optimized: false,
                            id_shop: jsonContent[i].id
                        });
                        mark.addListener("click", function() {
                            console.log(this);
                            updateCalendar(this.id_shop);
                        });
                        mark.setMap(map);
                        shop_markers.push(mark);
                    }
                });
            });

            /*$("#SkipshopBt").click(function() {
                //get selected shop
                var selected_shops = [];
                $('input.shopSelectInput:checkbox:checked').each(function() {
                    if ($(this).attr("id").replace("shop__", "") !== "")
                        selected_shops.push($(this).attr("id").replace("shop__", ""));
                    }
                );
                if (selected_shops.length === 0) {
                    swal("Cancelled", "No shops has been selected !", "warning");
                } else {
                    shops = selected_shops;
                    // query for available events
                    $.ajax({
                        method: "POST",
                        url: "http://localhost{{path('getAvailableEventByAdressAndShops')}}",
                        data: {
                            country: select_country.val(),
                            city: select_city.val(),
                            region: select_region.val(),
                            shop: JSON.stringify(selected_shops)
                        }
                    }).done(function(data) {


                        $("#RessourceTab").attr("class", "step col-md-3 done");
                        $("#TargetTab").attr("class", "step col-md-3 done");
                        $("#DateTab").attr("class", "step col-md-3 current");
                        $("#ConfirmTab").attr("class", "step col-md-3 ");
                        document.getElementById('TargetTab').style.pointerEvents = 'visible';
                        $("#TargetTab").css("cursor", "pointer");

                        $("html, body").animate({
                            scrollTop: 0
                        }, 600);
                        //setup events
                        my_events = [];
                        var json_data = JSON.parse(data);
                        for (var i = 0; i < json_data.length; i++) {
                            my_events.push({title: json_data[i]["event"]['name'],
                                start: moment(moment.unix(json_data[i]["event"]['starttime']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss"),
                                end: moment(moment.unix(json_data[i]["event"]['endtime']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss"),
                                description: json_data[i]["event"]['eventType'] + " at :" + json_data[i]["shop"],
                                allDay: false,
                                id_event: json_data[i]["event"]['id'],
                                shop: json_data[i]["shop"]
                            });
                        }
                        // Load calendar events
                        myCalendar.show();
                        myCalendar.fullCalendar({
                            events: my_events,
                            timeFormat: 'H:mm',
                            displayEventEnd: {
                                month: true,
                                basicWeek: true,
                                "default": true
                            },
                            eventClick: function(calEventMain, jsEvent, view) {
                                Event_calendar = calEventMain;
                                $.ajax({
                                    method: "POST",
                                    url: "http://localhost{{path('get_timelaps_by_event')}}",
                                    data: {
                                        id: calEventMain.id_event
                                    }
                                }).done(function(data) {
                                    var timelapsItems = JSON.parse(data);
                                    jQuery.each(timelapsItems, function(i, val) {
                                        var date = new Date(val['dateStart']['timestamp'] * 1000);
                                        var start = moment(moment.unix(val['dateStart']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                                        var end = moment(moment.unix(val['dateEnd']['timestamp'])).format("YYYY-MM-DDTHH:mm:ss");
                                        timelaps_calendar.push({title: val['idPointpub']['name'] + " - " + calEventMain.title + " : " + val['prix'] + " DT",
                                            start: start,
                                            end: end,
                                            allDay: false,
                                            idTimelaps: val['id'],
                                            id_event: calEventMain.id_event,
                                            timelaps_price: val['prix'],
                                            shop: val['idPointpub']['id']
                                        });
                                    });

                                    myCalendar.hide();
                                    TimelapsCalendar.show();
                                    $("#LoadCalendarBt").show();
                                    $("#LoadCalendarBt").click(function() {
                                        TimelapsCalendar.hide();
                                        myCalendar.show();
                                        $("#LoadCalendarBt").hide();
                                    });
                                    TimelapsCalendar.fullCalendar({
                                        defaultDate: calEventMain.start.format("YYYY-MM-DD"),
                                        events: timelaps_calendar,
                                        timeFormat: 'H:mm',
                                        defaultView: 'listDay',
                                        displayEventTime: true,
                                        displayEventEnd: true,
                                        eventClick: function(calEvent, jsEvent, view) {
                                            if (rgb2hex($(this).find(".fc-event-dot").css("background-color")) == "#ff9800") {
                                                Event_timelaps.splice(Event_timelaps.indexOf(calEvent), 1);
                                                //  Event_timelaps=null;
                                                $(this).find(".fc-event-dot").css("background-color", "#3a87ad");

                                            } else {
                                                Event_timelaps.push(calEvent);
                                                //Event_timelaps = calEvent; $(document).find(".fc-event-dot").css("background-color","#3a87ad");
                                                $(this).find(".fc-event-dot").css("background-color", "#ff9800");

                                            }
                                        }
                                    });
                                    TimelapsCalendar.fullCalendar('render');

                                }).fail(function() {});
                            },
                            eventRender: function(event, element) {
                                element.qtip({
                                    content: '<b>' + event.title + ' - </b></b><b>' + event.start.format('hh:mma') + ' - </b><b>' + event.end.format('hh:mma') + ' - </b><br><u>' + event.description + '</u>'
                                });
                            }
                        });
                    }).fail(function() {
                        swal("Cancelled", "An error has occured", "error");
                    });
                    //$("#ConfirmAddAd").on("shown.bs.modal", function(e) {});
                }
            });
*/
        });
    </script>

{% endblock %}
