{% extends 'base.html.twig' %}

{% block body %}
    <h1>Media creation</h1>

 {#   {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}#}

 <form action="{{ path('media_create') }}" method="POST" {{form_enctype(form)}} >
    
                         
                        {{ form_row(form.titre, { 'attr': {'class': 'form-control'} }   ) }}
                        <br>
                        <br>
                        {{ form_row(form.corps, { 'attr': {'class': 'form-control'} }   ) }}
                        <br> 
                        <br>
                        {{ form_row(form.etat, { 'attr': {'class': 'form-control'} }   ) }}
                        <br>
                        <br>
                        {{ form_row(form.file) }}
                        <br>
                        <br>
                        {{  form_row(form.submit, { 'attr': {'class': 'label label-primary'} }  ) }}
                       
                       
                            
                        

                        <ul class="record_actions">
                            
                        
                            
                        </ul>

              
            
                          </form>

    <ul>
        <li>
            <a href="{{ path('media_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
