{% extends 'base.html.twig' %}

{% block body %}
    <h1>ActionTimelaps list</h1>

    <table>
        <thead>
            <tr>
                <th>Idtimelaps</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actionTimelap in actionTimelaps %}
            <tr>
                <td><a href="{{ path('actiontimelaps_show', { 'id': actionTimelap.id }) }}">{{ actionTimelap.idTimelaps }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actiontimelaps_show', { 'id': actionTimelap.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actiontimelaps_edit', { 'id': actionTimelap.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actiontimelaps_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
